#container {
  width: 960px;
  margin: 5px auto;
}

#header {
  border-bottom: 1px solid #ccc;
}

#header #usernav {
  margin-top: 8px;
  margin-right: 8px;
  text-align: right;
}

#header #langnav {
  margin-top: 8px;
  margin-right: 8px;
  text-align: right;
}

#content {
}

#footer {
  border-top: 1px solid #ccc;
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
